(
  resources: {},
  entities: {
    47244640873: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 19.915627,
            y: 0.0,
            z: 33.109337,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_prefab::save::ChildrenPrefab": ([
          55834575002,
        ]),
        "space_prefab::load::PrefabLoader": (
          path: "scenes\\BasicTower.scn.ron",
        ),
      },
    ),
    55834574878: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 8.8575,
            z: 0.0,
          ),
          rotation: (
            x: 0.23493442,
            y: 0.48542377,
            z: 0.81357396,
            w: 0.21740976,
          ),
          scale: (
            x: 1.0000296,
            y: 1.000026,
            z: 1.0000033,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 7740095628538628606,
          name: "Directional light",
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_shared::LightAreaToggle": (false),
        "bevy_pbr::light::DirectionalLight": (
          color: Rgba(
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
          ),
          illuminance: 5000.0,
          shadows_enabled: true,
          shadow_depth_bias: 0.02,
          shadow_normal_bias: 1.8,
        ),
        "space_prefab::component::camera::PlaymodeLight": (),
        "space_prefab::save::ChildrenPrefab": ([
          111669149741,
        ]),
      },
    ),
    55834575111: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -12.065669,
            y: 0.0,
            z: -16.385614,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_prefab::save::ChildrenPrefab": ([
          64424509722,
        ]),
        "space_prefab::load::PrefabLoader": (
          path: "scenes\\CannonTower.scn.ron",
        ),
      },
    ),
    55834575177: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -7.8013673,
            y: 0.0,
            z: 12.59573,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_prefab::save::ChildrenPrefab": ([
          51539608203,
        ]),
        "space_prefab::load::PrefabLoader": (
          path: "scenes\\BasicTower.scn.ron",
        ),
      },
    ),
    60129542198: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 6.225818,
            y: 0.0,
            z: 11.960422,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_prefab::save::ChildrenPrefab": ([
          55834575260,
        ]),
        "space_prefab::load::PrefabLoader": (
          path: "scenes\\BasicTower.scn.ron",
        ),
      },
    ),
    60129542382: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -16.765875,
            y: 0.0,
            z: -32.665127,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_prefab::save::ChildrenPrefab": ([
          60129542538,
        ]),
        "space_prefab::load::PrefabLoader": (
          path: "scenes\\CannonTower.scn.ron",
        ),
      },
    ),
    60129542430: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_prefab::save::ChildrenPrefab": ([
          68719477415,
        ]),
        "space_prefab::load::PrefabLoader": (
          path: "scenes\\Terrain2.scn.ron",
        ),
      },
    ),
    60129542754: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 32.151127,
            y: -0.74575615,
            z: 23.338455,
          ),
          rotation: (
            x: 0.0,
            y: -0.70142925,
            z: 0.0,
            w: 0.7127391,
          ),
          scale: (
            x: 1.0000014,
            y: 1.0,
            z: 1.0000014,
          ),
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_prefab::save::ChildrenPrefab": ([
          60129542327,
        ]),
        "space_prefab::load::PrefabLoader": (
          path: "scenes\\Barricade.scn.ron",
        ),
      },
    ),
    64424509637: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 1.4289508,
            y: 0.0,
            z: -7.323101,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_prefab::save::ChildrenPrefab": ([
          55834575322,
        ]),
        "space_prefab::load::PrefabLoader": (
          path: "scenes\\CannonTower.scn.ron",
        ),
      },
    ),
    64424509724: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -26.330553,
            y: 0.0,
            z: 15.415757,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_prefab::save::ChildrenPrefab": ([
          68719477092,
        ]),
        "space_prefab::load::PrefabLoader": (
          path: "scenes\\BasicTower.scn.ron",
        ),
      },
    ),
    64424509774: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 28.922756,
            y: 0.0,
            z: -6.2633395,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_prefab::save::ChildrenPrefab": ([
          55834575281,
        ]),
        "space_prefab::load::PrefabLoader": (
          path: "scenes\\CannonTower.scn.ron",
        ),
      },
    ),
    68719476777: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -5.003526,
            y: 0.0,
            z: 34.22844,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_prefab::save::ChildrenPrefab": ([
          55834575074,
        ]),
        "space_prefab::load::PrefabLoader": (
          path: "scenes\\BasicTower.scn.ron",
        ),
      },
    ),
    68719476907: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 21.299719,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 7448705682061012578,
          name: "Camera3d",
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "bevy_render::camera::camera::Camera": (
          viewport: None,
          order: 0,
          is_active: false,
          hdr: false,
          msaa_writeback: true,
          clear_color: Default,
        ),
        "bevy_core_pipeline::core_3d::camera_3d::Camera3d": (
          depth_load_op: Clear(0.0),
          depth_texture_usages: (16),
          screen_space_specular_transmission_steps: 1,
          screen_space_specular_transmission_quality: Medium,
        ),
        "bevy_render::camera::projection::Projection": Perspective((
          fov: 0.7853982,
          aspect_ratio: 1.7777778,
          near: 0.1,
          far: 1000.0,
        )),
        "space_prefab::component::camera::PlaymodeCamera": (),
        "space_prefab::save::ChildrenPrefab": ([
          60129542268,
        ]),
      },
    ),
    68719477400: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -5.1306357,
            y: 0.0,
            z: 7.380161,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 8587728178085643506,
          name: "Camera Target",
        ),
        "ludum_dare_55::camera::CameraTarget": (
          speed: 10.0,
          smooth: 0.5,
          angle: 55.0,
          distance: 80.0,
          orbit: 0.0,
          orbit_angle: 1.6,
        ),
      },
    ),
  },
)